@import './navbar.css';
@import './footer.css';
@import './slider.css';
@import './akreditasi.css';
@import '../css/sejarah.css';
@import '../css/visi.css';
@import '../css/struktur.css';
@import '../css/renker.css';
@import '../css/spmi.css';
@import '../css/spme.css';
@import './pusatdata.css';
@import './about.css';
@import './galeri.css';

